@media(max-width: 768px){
.gallery{
    padding-left: 0;
    padding-right: 0;
    width:100%;
}

.gallery .page-header{
    text-align: center;
}

.adjust{
    padding-right: 0;
    padding-left: 0;
}

.gallery .page-header small{
    display: block;
    margin-top: 1em;
}
.description{
    text-align: center;
    padding-bottom: 1em;

}

.description{
    padding-top: 10%;
    color: white;
}
.portfolio-item{
    padding-right: 0;
}

.grey-first{
    background-color: #1B1B1B;
}

.grey-second{
    background-color: #373737;
    padding-right: 0;

}

.grey-third{
    background-color: #767676;
    padding-right: 0;
}

.adjust:{
  padding-right: 0;
}

}


@media (min-width: 768px) and (max-width: 992px){

.gallery{
    width: 100%;
    padding-left: 0;
    padding-right: 0;

}

.gallery .page-header{
    width: 90%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
    text-align: center;
}

.description{
    padding-top: 10%;
    color: white;
}

.grey-first{
    background-color: #1B1B1B;
    padding-left: 0;
    padding-right:0;
}

.grey-second{
    background-color: #373737;
    padding-left: 0;
    padding-right: 0;
}

.grey-third{
    background-color: #767676;
    padding-left: 0;
    padding-right: 0;
}

}


@media (min-width: 992px){
.gallery{
    margin-bottom: 40px;
}

.portfolio-item img{
    padding-top: 1em;
    padding-bottom: 1em;

}

.description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 4em;
  background: rgba(100, 100, 100, 0.72);
  color: #fff;

  visibility: hidden;
  opacity: 0;
  
}

.portfolio-item:hover .description {
  visibility: visible;
  opacity: 1;
}



}