.about{
    margin-bottom: 0;
    background-color: #2F2F2F;
    height: 23em;
}

.about .container{
    color: white;
    width:60%;
}

.about .right{
    text-align: right;
}

.detail{
    margin-top: 0;
    margin-bottom: 0;
}

.detail h2{
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

.detail h2:before, .detail h2:after {
  background: #ddd;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
    top: 50%;
  width: 400%;
}

.detail h2:before {
  right: 100%;
}

.detail h2:after {
  left: 100%;
}

.detail .container {
  overflow: hidden;
  text-align: center;
}