#map-container{
    height: 20em;
    width: 20em;
}

.contact h1{
    text-align: center;
}

.contact h2{
    font-size: 1.5em

}


@media (min-width: 992px){

.contact{
width: 60%;
}

.contact h1{
    text-align: left;
}

#map-container{
    height: 30em;
    width: 30em;
}

}
