@media (max-width: 768px){
    .resume h1{
        font-size: 2em;
    }
    .resume .text{
         font-size: 1em;
    }
}

.resume h1{
    text-align: center;
}
.resume .text{
    font-size: 1.3em;
}

.resume .text{
    margin-top: 20px;
    margin-bottom: 20px;
}


@media (min-width: 992px){
    .resume h1{
        text-align: left;
        font-size: 2.5em;
    }
}