<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = 'UTF-8'>
    <title>Jing Wang - {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <header>
        {% if active_page == 'index' %}
            <h1>Jing Wang</h1>
            <h2>{{title}}</h2>
        {% else %}
            <h1>{{title}}</h1>
        {% endif %}
        
        <nav>
            <a href="index" class='col-md-3'>
                {% if active_page == 'index' %}HOME{% else %}Home{% endif %}</a>
            <a href="pet" class='col-md-3'>
                {% if active_page == 'pet' %}PET{% else %}Pet{% endif %}</a>
            <a href="travel" class='col-md-3'>
                {% if active_page == 'travel' %}TRAVEL{% else %}Travel{% endif %}</a>
            <a href="login" class='col-md-3'>
                {% if active_page == 'login' %}LOGIN{% else %}Login{% endif %}</a>
        </nav>
    </header>
    {% block content %}
    Error: block should be replaced
    {% endblock %}
    <footer>
        <p>Copyright &copy; Jing Wang from the University of Michgan <a href="http://www.engin.umich.edu/ioe">Department of IOE</a></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>