{% set active_page = 'contact' %}
{% extends "templates/base.html" %}
{% block content %}
{{msg}}
    <form method="post">
        <label>name: <input name="name" placeholder="Enter your name"></label>
        <br/>
        <label>Email: <input name="mail" placeholder="Enter your email"></label>
        <br/>
        <label>Subject: <input name="subject" placeholder="Subject"></label>
        <br/>
        <label>Message: <textarea name="message" style="height:200px; weight=500px;" placeholder="Enter your message">
        </textarea>
        </label>
        <br/>
        <input type="submit" value="Send"/>
    </form>

{% endblock %}