{% set active_page = 'contact' %}
{% extends "templates/base.html" %}
{% block content %}
<div class="container contact">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Contact
                <small>With Me</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="address">
                <h2>Address</h2>
                <p>1831 Lake Lila Ln</p>
                <p>Ann Arbor, United State</p>
            </div>
            <div class="information">
                <h2>Contact</h2>
                <p>Phone: <span>(+1)734-277-5627</span></p>
                <p>Email: <span>jingwa@umich.edu</span></p>
            </div>
        </div>
        <div class="col-md-4" id="map-container">

        </div>
    </div>
</div>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="static/map.js"></script>

{% endblock %}