{% set active_page = 'contact' %}
{% extends "templates/base.html" %}
{% block content %}
<div class="container contact">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Contact
                <small>With Me</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="adress">
                <h2>Address</h2>
                <p>1831 Lake Lila Ln</p>
                <p>Ann Arbor, United State</p>
            </div>
            <div class="information">
                <p>Phone: <span>(+1)734-277-5627</span></p>
                <p>Email: <span>jingwa@umich.edu</span></p>
            </div>
        </div>
        <div class="col-md-4" id="map-container">

        </div>
    </div>
</div>


<!--     <form method="post">
        <label>name: <input name="name" placeholder="Enter your name"></label>
        <br/>
        <label>Email: <input name="mail" placeholder="Enter your email"></label>
        <br/>
        <label>Subject: <input name="subject" placeholder="Subject"></label>
        <br/>
        <label>Message: <textarea name="message" style="height:200px; weight=500px;" placeholder="Enter your message">
        </textarea>
        </label>
        <br/>
        <input type="submit" value="Send"/>
    </form>
 -->
{% endblock %}