{% set active_page = 'gallery' %}
{% extends "templates/base.html" %}
{% block content %}

<div class="container gallery">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gallery
                <small>of My Photographic Work</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 portfolio-item">
            <h3>
                Sunset in Chicago
            </h3>
            <p>As the sun sinks over horizon, the city is dyed gold.</p>
            <a href="static/gallery/1.jpg">
                <img class="img-responsive" src="static/gallery/1.jpg" alt="sunset">
            </a>
        </div>
        <div class="col-md-4 portfolio-item">
            <h3>
                Startrail
            </h3>
            <p>A mysterial night at the Hukson Lake camping site.</p>
            <a href="static/gallery/2.jpg">
                <img class="img-responsive" src="static/gallery/2.jpg" alt="startrail">
            </a>
        </div>
        <div class="col-md-4 portfolio-item">
            <h3>
                Reflection
            </h3>
            <p>Trees are reflected by the clear lake in a Winter morning.</p>
            <a href="static/gallery/3.jpg">
                <img class="img-responsive" src="static/gallery/3.jpg" alt="reflection">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <h3>
                Flowers
            </h3>
            <p>The white flowers appear more pure in dark.</p>
            <a href="static/gallery/4.jpg">
                <img class="img-responsive" src="static/gallery/4.jpg" alt="flowers">
            </a>
        </div>
        <div class="col-md-4 portfolio-item">
            <h3>
                The Lung of Earth
            </h3>
            <p>The reflection of the tree seems like blood vessel of lung</p>
            <a href="static/gallery/5.jpg">
                <img class="img-responsive" src="static/gallery/5.jpg" alt="lung">
            </a>
        </div>
        <div class="col-md-4 portfolio-item">
            <h3>
                The Dog and Gourd
            </h3>
            <p>The dog's owner were selling his gourds.</p>
            <a href="static/gallery/6.jpg">
                <img class="img-responsive" src="static/gallery/6.jpg" alt="dog">
            </a>
        </div>
    </div>

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <h3>
                Temple
            </h3>
            <p>The most famous temple in Dujiangyan, China.</p>
            <a href="static/gallery/7.jpg">
                <img class="img-responsive" src="static/gallery/7.jpg" alt="temple">
            </a>
        </div>
        <div class="col-md-4 portfolio-item">
            <h3>
                Gakun
            </h3>
            <p>Gakun is a three-years old cat coming from China.</p>
            <a href="static/gallery/8.jpg">
                <img class="img-responsive" src="static/gallery/8.jpg" alt="gakun">
            </a>
        </div>
        <div class="col-md-4 portfolio-item">
            <h3>
                Water Fall
            </h3>
            <p>The biggest water fall in the Valley of Jiuzhai, China.</p>
            <a href="static/gallery/9.jpg">
                <img class="img-responsive" src="static/gallery/9.jpg" alt="fall">
            </a>
        </div>
    </div>

</div>

{% endblock %}