{% set active_page = "index" %}
{% extends "templates/base.html" %}
{% block content %}
<div class="jumbotron about">
  <div class="container">
    <div>
      <h2>About Me</h2>      
      <p>A User Research Engineer with Interdisciplinary Perspectives</p>
    </div>
    <div class="rightside">
      <h2>Goal</h2>
      <p>"Become Bridge Between Users and Designers/Developers"</p>
    </div>
  </div>
</div>  

<div class="jumbotron text-center detail">
  <div class="container"><h2>My Favorite</h2></div>
      
  <div class="extra row">
    <div class="first col-sm-12 col-md-4">    
      <img src="static/travel.jpg" class="lg-shadow img-responsive left" alt="travel">
        <div class="text right">
          <h3>Photography</h3>
          <p>I take my camera wherever I go, recording whatever I see<p>  
        </div>
    </div>

    <div class="second col-sm-12 col-md-4"> 
      <img src="static/longboard.jpg" class="lg-shadow img-responsive right" alt="longboard">
      <div class="text left">
        <h3>Longboard</h3>
        <p>Longboarding in Summer, Snowboarding in Winter</p>
      </div>
    </div>

    <div class="third col-sm-12 col-md-4"> 
      <img src="static/pet.jpg" class="lg-shadow img-responsive left" alt="cat">
      <div class="text right">
        <h3>Cat</h3>
        <p>Gakun is a three-years old British short-hair cat</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
